/* @font-face {
    font-family: Zfont;
    src: url(./component/Zfont/ZCOOLKuaiLe-Regular.ttf);
  }
h1{
    color:rgb(255, 233, 146);
    font-family:Zfont;
    padding-bottom: 5%;
}
.Navbar{
    background-color:#f4851d;
}

.title{
    display: inline-flex;
    width:70%;
    font-size: larger;
  }
.icon{
    display:inline-flex;
    padding-left: 2%;
    padding-top: 1%;
}

 */
 @import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');


 .navbar {
  font-family: 'ZCOOL KuaiLe', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; /* This will center the contents */
  padding: 10px;
  background-color: #ff9800; /* Example background color */
}

.navbar-icon {
  width: auto; /* or you can use a specific size like 50px */
  height: 50px; /* Adjust the size as needed, keeping the aspect ratio */
  margin-right: 10px; /* Adjust the space between the icon and the text */
  box-shadow: none !important;
}

.navbar-title {
  font-size: 24px; /* Adjust the size as needed */
  color: white; /* Text color */
  margin: 0;
}
